<!DOCTYPE html>
<html>
<head>
    <title id="vb130">Изображения на тему «Покемон» из Яндекс.Коллекций</title>
    <meta property="og:title" content="«Покемон» в коллекциях пользователей Яндекса">
    <meta property="og:url" content="https://stark-cove-17107.herokuapp.com/">
    <meta property="og:type" content="website">
    <% include ../partials/header.ejs %>
</head>

<body>
</body>
</html>
